PRIVATE_KEY=your_private_key
POLYGON_RPC_URL=https://polygon-rpc.com/
MUMBAI_RPC_URL=https://rpc-mumbai.maticvigil.com/

# [REQUIRED] The address that will receive the SuperAdmin role during deployment
# This address must be controlled by you as it will have the highest privilege level
# Format: 0x followed by 40 hexadecimal characters (20 bytes)
INITIAL_SUPER_ADMIN_WALLET_ADDRESS=0x1234567890123456789012345678901234567890
